<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <!-- RECIPE DISPLAY -->
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <!-- {{rc}} -->
                <span class="md-headline">{{rc.RecipeService.newRecipe.name}}</span>
                <span class="md-subhead">Type: {{rc.RecipeService.newRecipe.type}}</span>
                <span class="md-subhead">Serves: {{rc.RecipeService.newRecipe.servings}}</span>
                <br/>
                <span ng-repeat="ingredient in rc.RecipeService.recipeIngredient">
                    {{ingredient.quantity}} {{ingredient.measure}} {{ingredient.ingredient}}
                </span>
                <br>
                <span ng-repeat="instruction in rc.RecipeService.recipe.list">
                    {{instruction.recipe_instruction}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-title>

        </md-card-title>
    </md-card>
    <md-card>

    </md-card>

    <!-- INGREDIENT INPUT -->
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Add an Ingredient</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row">
            <md-input-container>
                <label>Ingredient</label>
                <input type="text" ng-model="rc.ingredients.ingredient">
            </md-input-container>

            <md-input-container>
                <label>Quantity</label>
                <input type="number" ng-model="rc.ingredients.quantity">
            </md-input-container>

            <md-input-container>
                <label>Measure</label>
                <md-select ng-model="rc.ingredients.measure">
                    <md-option value="Pound">Pound</md-option>
                    <md-option value="Ea">Ea</md-option>
                    <md-option value="Gallon">Gallon</md-option>
                    <md-option value="Quart">Quart</md-option>
                    <md-option value="Pint">Pint</md-option>
                    <md-option value="Cup">Cup</md-option>
                    <md-option value="Tbsp">Tbsp</md-option>
                    <md-option value="tsp">tsp</md-option>
                    <md-option value="Vegetarian">Vegetarian</md-option>
                    <md-option value="Ounce">Ounce</md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit" ng-click="rc.addIngredient()">
                Submit</md-button>
        </md-card-content>
    </md-card>

    <!-- RECIPE INSTRUCTION INPUT -->
    <md-card>
        <md-card-content>
            <md-input-container>
                <label for="textareaEdit">Recipe Instruction:</label>
                <textarea id="textArea" ng-model="rc.recipeInstruction.instruction"></textarea>
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit" ng-click="rc.updateRecipe()">
                Submit
            </md-button>
        </md-card-content>
    </md-card>
</div>