<div ng-include="'views/partials/nav.html'"></div>

<md-card>
    <md-card-title>
        <md-card-title-text ng-repeat="recipe in rc.RecipeService.recipe.list">
            {{rc}}
            <span class="md-headline">{{recipe.name}}</span>
            <span class="md-subhead">Type: {{recipe.type}}</span>
            <span class="md-subhead">Serves: {{recipe.servings}}</span>
            <br/>
            <span ng-repeat="ingredient in rc.RecipeService.recipeIngredient">
                {{ingredient.quantity}} {{ingredient.measure}} {{ingredient.ingredient}}
            </span>
            <br>
            <span ng-repeat="instruction in rc.RecipeService.recipe.list">
                {{instruction.recipe_instruction}}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-title>

    </md-card-title>
</md-card>