<div ng-include="'views/partials/nav.html'"></div>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <!-- {{rc}} -->
            <span class="md-headline">{{rc.RecipeService.newRecipe.name}}</span>
            <span class="md-subhead">Type: {{rc.RecipeService.newRecipe.type}}</span>
            <span class="md-subhead">Serves: {{rc.RecipeService.newRecipe.servings}}</span>
            <br/>
            <span ng-repeat="ingredient in rc.RecipeService.recipeIngredient">
                {{ingredient.quantity}} {{ingredient.measure}} {{ingredient.ingredient}}
            </span>
            <br>
            <span ng-repeat="instruction in rc.RecipeService.recipe.list">
                {{instruction.recipe_instruction}}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-title>

    </md-card-title>
</md-card>